/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }

/******************************************
/* BASE STYLES
/*******************************************/
* {
  font-family:Arial, Helvetica, sans-serif
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

main, header {
    margin: 0;
    margin-top: -20px;
    margin-right: 0px;
}

body {
  margin-right: 0;
}

/******************************************
/* NAVIGATION
/*******************************************/
header {
  float: left;
  width: 100%;
  height: 80px;
  margin-top: 25px;
}

ul a {
  width: 100%;
  font-size: 18px;
}

header nav ul li {
  width: 8%;
  float: left;
}

nav img {
  width: 100px;
  margin: -10px 400px 0 20px;
  float: left;
}

nav button {
  float: right;
  margin-right: 150px;
}

ul {
  margin-top: 10px;
}

header, main, section {
  background-color: #f5f9fc;
  width: 100%;
}

nav button {
  background-color: #2c4458;
  color: white;
  padding: 8px 30px;
  margin-top: -10px;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #2c4458;
  border-radius: 5%;
}

a:hover {
  color: #121c24;
}

button:hover {
  background-color: #f5f9fc;
  color: #2c4458;
  cursor: pointer;
  font-weight: 600;
}

/******************************************
/* MAIN SECTION
/*******************************************/
.mainImage {
  float: right;
  height: 650px;
}

main {
  height: 800px;
}

.leftSection {
  float: left;
  width: 500px;
  padding-left: 150px;
  padding-top: 100px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: #2b4357;
  margin-top: 15px;
}

input {
  width: 250px;
  height: 30px;
  padding-right: 0;
  border: none;
  background-color: #dfe7ee;
  color: #8fa1b1;
  padding-left: 20px;
  font-size: 14px;
  display: inline;
}

main section span {
  color: #95a7b8;
  font-size: 14px;
}

main section button {
  background-color: #2c4458;
  padding: 4px 15px;
  font-size: 18px;
  display: inline;
  color: #dfe7ee;
  border: none;
}


/******************************************
/* FEATURE PARTS
/*******************************************/
.features {
  float: left;
  width: 350px;
  padding-left: 130px;
  color: #253c50;
}

.featureContainer {
  width: 100%;
  padding-top: 70px;
  height: 360px;
}

.features img {
  width: 70px;
}

h4 {
  font-size: 18px;
  font-weight: 800;
}

section section a {
  font-weight: 600;
}
/******************************************
/* EVEN WHITE PARTS
/*******************************************/

article {
  float: left;
  padding-top: 50px;
  padding-left: 150px;
}

article h2 {
  font-size: 50px;
  width: 550px;
  color: #2c4458;
}

article p {
  color: #93a5b6;
  width: 650px;
  font-size: 20px;
}

.blueBox {
  padding: 40px 150px 0 150px;
  background-color: #e2eaf0;
  width: 1200px
}